@charset "UTF-8";
/** Holberton Practice Styles
 * ------ Header
 */

header {
    background-color: #FFFFFF;
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-position: 20px 50%;
    background-size: 13%;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
}

.available {
    background-color: #ff545f !important;
}
